<h2>create lessons for <%= link_to @course.full_name, course_path(@course)  %></h2>
<br />

<div id="batch_create">
<h2>create a batch of lessons</h2>

<%= bootstrap_form_for(@lesson, layout: :horizontal) do |f| %>
  <%= f.hidden_field :course_id, :value => @course.id %>
  <%= f.select :day_of_week, days_of_week_options_for_select %>
  <%= f.date_select :start_date, :value => Time.now.strftime("%F") %>
  <%= f.date_select :end_date, :value => "2014-06-05" %>
  <%= f.time_select :start_time, :value => Time.now.strftime("%H:%M") %>
  <%= f.time_select :end_time, :value => Time.now.strftime("%H:%M") %>
  <%= f.text_field :room, :value => 306 %>
  <%= f.submit "create lessons" %>
<% end %>

</div>

<br /><br />

<div id="single_create">
<h2>create a single lesson</h2>

<%= render 'form' %>

</div>
<br />
<%= link_to 'Back', lessons_path %>
