<h2>
  <div id="heading-date"><%= @lesson.date.strftime("%a %F") %></div>
  <%= link_to @course.full_name, course_path(@course) %><br />
  <%= "{" + (@lesson_array.index(@lesson) + 1).ordinalize.to_s + " of " + @lesson_array.length.to_s + "}" %><br />
  <%= @lesson.start_time.strftime("%l:%M") %> to <%= @lesson.end_time.strftime("%l:%M") %><br />
  <%= link_to 'previous', lesson_path(@lesson.previous) if @lesson.previous %>
  <%= link_to 'next', lesson_path(@lesson.next) if @lesson.next %>
</h2>

<!-- taking attendance -->
<br /><br />
<% if false %>
<b><%= link_to_function "take attendance", "Element.toggle('take_attendance')" %></b>
<% end %>
<div id="take_attendance">
  <% bootstrap_form_for @attendance, layout: :horizontal, :url => attendances_path do |f| %>
    <%= f.hidden_field :course_id, :value => @course.id %>
	<%= f.hidden_field :lesson_id, :value => @lesson.id %>
	<%= f.collection_select :attendance_type_id, @attendance_types, :id, :name %>
    <%= f.select :student, options_from_collection_for_select(Student.all, 'id', 'name_first_last'), :multiple => "true", :id => "student_ids" %>
	<%= f.submit "mark attendance" %>
<% end %>
</div><br />

<!-- attendances listing -->
<% if !@lesson.attendances.empty? %>
<b><%= link_to_function "attendance listing", "Element.toggle('attendance_listing')" %></b><br />
<div id="attendance_listing" style="display:none">
  <% for attendance in @lesson.attendances.find(:all, :order => "date DESC") %>
  <%= link_to 'edit', edit_attendance_path(attendance) %>
  <%= link_to 'delete', attendance_path(attendance), :confirm => 'Are you sure?', :method => :delete %> | 
  <%=h Student.find(attendance.student_id).name_first_last %>
  <%= AttendanceType.find(attendance.attendance_type_id).name %> on
  <%=h attendance.created_at.to_s(:day_month_date).downcase %><br />
  <% end %>
<br /></div>
<% end %>
