<h1><%= @course.full_name %></h1>

<%= link_to '[edit details]', edit_course_path(@course) %><br />

<% if !@course.activity_logs.empty? %>
  <div id="activity" class="ivy-module">
	<br />
	<h2>activity</h2>
    <% for activity_log in @course.activity_logs.find(:all, :order => "date DESC") %>
      <%= link_to 'edit', edit_activity_log_path(activity_log) %> |
      <%= link_to 'delete', activity_log_path(activity_log), :confirm => 'are you sure?', :method => :delete %> |
      <%=h activity_log.activity.name + " :: " + activity_log.date.to_s(:day_month_date).downcase %><br />
	<% end %>
  </div>
<% end %>

<% if !@attendances.empty? %>
  <div id="attendance" class="ivy-module">
	<h2>attendance</h2>
	<div id="table">
	  <%= render :partial => "attendance_list" %>
	</div>
  </div>
<% end %>

<div id="lesson" class="ivy-module">
  <h2>lessons</h2>
  <%= link_to '[create lesson(s)]', new_lesson_url(:course_id => @course) %><br>
  <br>
  <% if !@course.lessons.empty? %>
    <%= render :partial => "lesson_list" %>
  <% else %>
    (no lessons yet)
  <% end %>
</div>

<div id="enrollments" class="ivy-module">
  <h2>enrollment</h2>
  <p>
	<% for enrollment in @course.enrollments %>
      <%= link_to '[remove student]', enrollment_path(enrollment), :confirm => 'are you sure?', :method => :delete %> |
      <%=h enrollment.student.name_last_c_first %><br />
	<% end %>
  </p>
  
  <% if !Student.list_sans_enrolled(@course).empty? %>
	<%= bootstrap_form_tag layout: :horizontal, url: enrollments_path  do |f| %>
      <%= f.hidden_field :course_id, :value => @course.id %>
      <%= f.select(:student_id, Student.list_sans_enrolled(@course), :multiple => "true", :id => "student_ids") %>
      <%= f.submit "enroll student" %>
	<% end %>
  <% else %>
	there are no students to enroll - all potential students have been enrolled, or new student records might need to be created
  <% end %>
</div>
